.lang-button {
    position: fixed;
    top: 3rem;
    right: 7rem;
    z-index: 5;
    padding: 0.8rem;
    border: 3px solid #ffffff;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    transition: 1s ease;
    opacity: .3;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     
    @include phone {
        top: 1.5rem;
        right: 1.5rem;
    }

    &.lang-button_dark {
        border: 3px solid #000000;

        .lang-button__wrapper {

            .lang-button__current-value {
                color: #000000;
            }
        }

        .lang-button__list-item {
            color: #00000085 !important;

            &:hover {
                color: #000000 !important;
            }
        }
    }

    .lang-button__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        
        .lang-button__current-value {
            width: 100%;
            height: 100%;
            color: #ffffff;
            font-size: 1.4rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: .5s ease;
        }
        
        .lang-button__list {
            width: 55px;
            position: absolute;
            list-style: none;
            left: -10px;
            bottom: -19px;
            transform: translateY(0);
            transition: .8s ease;
            margin: 0;
            padding: 0;
            opacity: 0;
            
            .lang-button__list-item {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #ffffff85;
                margin: 0;
                width: 100%;
                padding: 5px 0;
                transition: .5s ease;

                &:active {
                    color: #64ffd8
                }
                
                &:hover {
                    color: #ffffff;
                }
            }
        }

    }

    &:hover {
        opacity: 1;

        .lang-button__list {
            opacity: 1;
            transform: translateY(calc(100% - 3px));
        }
    }
}