$sm: 480;
$md: 768;
$lg: 1024;
$xl: 1440;

$xs: 350;

$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-large: 1400px;

$transition: .3s ease all;
$transition-fast: .1s ease all;

$font: 'Montserrat', sans-serif;
$font-mono: "Courier New", source-code-pro, Menlo, Monaco, Consolas, monospace;
$projects-border: 2px solid #ffffff;

$project-thumb-height: 390px;
$project-thumb-width: 300px;
