$sm: 480;
$md: 768;
$lg: 1024;
$xl: 1440;

$xs: 350;

$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-large: 1280px;

$transition: .3s ease all;
$transition-fast: .1s ease all;
