.index-wrapper {
    height: 100dvh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: .5s ease;
    position: relative;
    display: flex;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    background-color: #7474c0;
    animation-name: Bg-grade-light;

    .header {
        position: absolute;
        top: 10px;
        left: 15px;
        z-index: 5;
        font-family: 'Montserrat';
        color: #ffffff85;
    }
}