.about {
    width: 90%;
    height: 80%;
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;

    @include phone {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 2rem;
    }

    .about__my-photo-container {
        position: relative;
        width: 240px;
        height: 360px;
    }

    .about-my-photo__cross {
        position: absolute;
        left: -5px;
        top: 5px;
        fill: #ffffff;
        height: 20px;
        width: 20px;
        z-index: 5;
        animation: cross-spin infinite 8s linear;

        &.about-my-photo__cross_delayed_first {
            animation-delay: .2s;
            fill: #5ddfff;
        }

        &.about-my-photo__cross_delayed_second {
            animation-delay: .4s;
            fill: #ff3e58;
        }
    }

    .about-my-photo__circle {
        position: absolute;
        bottom: -10px;
        right: -5px;
        z-index: 5;
        width: 20px;
        height: 20px;
        fill: #ffffff;
        //border: 2px solid #ffffff;
        border-radius: 50%;
        animation: circle-fade infinite 10s linear;
    }
    
    .about__my-photo {
        position: absolute;
        width: 240px;
        height: 360px;
        background-position: center;
        background-size: cover;
        z-index: 3;
        
        &.about__my-photo_overlay {
            transition: .5s ease;
            z-index: 4;
            
            &:hover {
                opacity: 0;
            }
            @include phone {
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        @include phone {
            position: relative;
        }
        //background-color: #f4a;
    }

    .about__text-wrapper {
        background-color: #43377ec4;
        //border-radius: 3.5rem;
        padding: 2rem 3rem;
        display: flex;
        position: relative;
        height: auto;
        max-height: 80vh;
        //padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 30px;

        @include phone {
            padding: 1rem;
            margin: 1.5rem;
            margin-bottom: 5rem;
        }
    }

    .about-text__circle {
        position: absolute;
        fill: #ffffff;
        width: 50px;
        height: 50px;
        top: 40px;
        right: -60px;
        z-index: 5;
        animation: circle-pulse infinite 10s linear;
        
        &.about-text__circle_first {
            fill: #3dff9e;
            animation-delay: .2s;
            z-index: 4;
        }

        &.about-text__circle_second {
            fill: #ff3ddf;
            animation-delay: .4s;
            z-index: 4;
        }
    }

    .about__title {
        padding: 0;
        margin: 0;
        font-variant: small-caps;
        margin-top: 1rem;
        //margin-bottom: 6px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
        line-height: 2.5rem;

        small {
            margin: 0;
            font-weight: 500;
            font-size: 18px;
        }
    }

    .about__position {
        width: 100%;
        color: #fafafae5;
        text-align: center;
        font-size: 1.2rem;
        font-variant: small-caps;
        font-weight: 100;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
    }

    .about__info {
        padding: 0 0.5rem;
        margin: 0;
        line-height: 1.1rem;
        font-size: 1rem;
        max-width: 500px;
        text-align: left;
        overflow-y: auto;
        overflow-x: hidden;

        ul {
            list-style: none;
            width: 100%;
            padding: 0;

            li {
                margin-bottom: 0.5rem;
            }
        }
    }

    .about__hint{
        font-size: 1rem;
        width: 250px;
        letter-spacing: 3px;

    }
}

.about-feature-link {
    color: #b9ffe2;
    font-variant: small-caps;
    //padding: 0 0.6rem;
    //padding-bottom: 0.1rem;
    text-align: center;
    //background-color: #fafafa;
    //border-radius: 1rem;
    transition: .2s ease all;

    &:hover {
        opacity: 0.8;
        color: #57ffb9;

    }
}

@keyframes cross-spin {
    0% {
        left: -5px;
        top: 5px;
    }
    40% {
        left: -4px;
        top: 5px;
    }
    41% {
        left: -9px;
        top: 10px;
    }
    42% {
        left: 2px;
        top: -4px;
    }
    43% {
        left: -10px;
        top: -10px;
    }
    44% {
        left: -4px;
        top: 5px;
    }
    99% {
        transform: scale(30deg, 10deg);
    }
    100% {
        transform: scale(.5);
    } 
}


@keyframes circle-pulse {
    0% {
        transform: scale(1) translate(0px, 0px);
    }
    40% {
        transform: scale(1) translate(4px, -6px);
    }
    41% {
        transform: scale(1.2) translate(4px, -6px);
    }
    42% {
        transform: scale(0.6) translate(4px, -6px);
    }
    43% {
        transform: scale(1.1) translate(4px, -6px);
    }
    44% {
        transform: scale(0.8) translate(4px, -6px);
    }
    45% {
        transform: scale(1) translate(4px, -6px);
    }
    50% {
        transform: scale(1) translate(2px, -4px);
    }
    51% {
        transform: scale(1.6) translate(2px, -4px);
    }
    52% {
        transform: scale(1) translate(2px, -4px);
    }
    100% {
        transform: scale(1) translate(0px, 0px);
    } 
}

@keyframes circle-fade {
    to {
        opacity: 0;
        transform: scale(2);
    }
}