@import './projects-title';
@import './project-view/project-view.scss';
@import './project-thumb';

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.index-projects{
    width: 90%;
    height: 70%;
    //height: auto;
    //display: flex;
    //justify-content: left;
    overflow: hidden;
    //border-radius: 40px;
    position: relative;
    //background-color: #ececec;

    @include phone {
        width: 100%;
        height: 85%;
    }

    .index-projects__border {
        position: absolute;
        width: 45px;
        height: 45px;
        z-index: 4;
        
        &.index-projects__border_top-left {
            border-top: $projects-border;
            border-left: $projects-border;
            left: 3px;
            top: 3px;

            @include phone {
                left: 1rem;
                top: 1rem;
            }
        }

        &.index-projects__border_top-right {
            border-top: $projects-border;
            border-right: $projects-border;
            right: 3px;
            top: 3px;

            @include phone {
                top: 1rem;
                right: 1rem;
            }
        }

        &.index-projects__border_bottom-left {
            border-bottom: $projects-border;
            border-left: $projects-border;
            left: 3px;
            bottom: 3px;

            @include phone {
                left: 1rem;
                bottom: 1rem;
            }
        }

        &.index-projects__border_bottom-right {
            border-bottom: $projects-border;
            border-right: $projects-border;
            right: 3px;
            bottom: 3px;

            @include phone {
                right: 1rem;
                bottom: 1rem;
            }
        }
    }

    .projects-content {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 2fr 10fr;
        grid-template-rows: 100%;
        
        @include phone {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 9fr;

        }
    }
    
    .projects-side {
        display: flex;
        align-items: center;
        justify-content: center;
        //flex-direction: column;
        //width: 10%;
        padding: 2rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 60%;
            width: 2px;
            background-color: #ffffff;
            top: 20%;
            right: 0;
        }

        @include phone {
            padding: 2rem 0 3rem 0;

            &::after {
                height: 2px;
                width: 60%;
                top: calc(100% - 0.5rem);
                right: 50%;
                transform: translateX(50%);
            }
        }
    }

    .projects__wrapper {
        display: flex;
        width: calc(90% - 1rem);
        justify-self: center;
        //max-height: 100%;
        //display: grid;
        justify-content: center;
        //align-items: center;
        //padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        //box-sizing: content-box;

        @include phone {
            width: calc(100% - 2rem);
            align-self: center;
            height: 90%;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 90%;
            //margin: 10px;
            padding: 10px;
            transition: .5s ease;
            
            &:hover {
                width: 10px;
            } 
        }

        &::-webkit-scrollbar-track {
            //border-radius: 5px;
            width: 2rem;
            transition: .5s ease;
            // background-color: #871eff;
            margin: 10px;
        }


        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.219);
            transition: .5s ease;
            //border-radius: 10px;

            &:hover {
                background: rgba(0, 0, 0, 0.5); 
                transition: .5s ease;
            }
        }
        
        .projects__list {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-auto-rows: auto $project-thumb-height;
            //width: calc(100% - 4rem);
            width: auto;
            //height: calc(100% - 4rem);
            height: fit-content;
            //padding-right: 2rem;
            //padding-left: 20px;
            gap: 2rem;
            //overflow-y: auto;
            //overflow-x: hidden;
            //flex-wrap: wrap;
            position: relative;

            @include desktop {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @include tablet {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            @include phone {
                grid-template-columns: 1fr;
                height: 100%;
                width: 100%;
                padding: 0 0.5rem;
            }
            
            
        }
    }
}