@keyframes Bg-grade-light {
    0% {
      background-color: #aa5773;
    }
    25%{
      background-color: #6d65b4;
    }
    50% {
      background-color: #8d5dbb;
    }
    75% {
      background-color: #6fb9b5;
    }
    100% {
      background-color: #aa577e;
    }
  }

  @keyframes Bg-grade-dark {
    0% {
      /*background-color: #ce8994;*/
      background-color: #361768;
    }
    25%{
      background-color: #333333;
    }
    50% {
      background-color: #580f58;
    }
    75% {
      background-color: #18144e;
    }
    100% {
      background-color: #361768;
    }
  }

  @keyframes triangle-grade {
    0% {
        border-top: 60px solid #696ab8;
    }
    25%{
        border-top: 60px solid #68beb0;
    }
    50% {
        border-top: 60px solid #815dbb;
    }
    75% {
        border-top: 60px solid #cfa86e;
    }
    100% {
        border-top: 60px solid #ad5975;
    }
}

@keyframes draw-markup-vertical {
    0% {
        width: 0px;
    }
    10% {
        width: calc(100% + 120px);
    }
    90% {
        width: calc(100% + 120px);
    }
    100% {
        width: 0px;
    }
}

@keyframes draw-markup-horizontal {
    0% {
        height: 0px;
    }
    10% {
        height: calc(100% + 80px);
    }
    90% {
        height: calc(100% + 80px);
    }
    0% {
        height: 0px;
    }
}

@keyframes text-burning {
  0% {
    
  }
}